:root {
  --color-primary: rgb(139, 71, 38);
  --color-primary-light: rgb(165, 84, 45);
  --color-primary-dark: rgb(125, 63, 34);
  --color-background-primary: #FFE4B5;
  --color-container-1: #914800;
  --color-container-2: #b4814f;
  --color-container-3: #d6bb9f;
  --color-container-4: #f9f4f0;
  --color-brown-red: rgb(80, 20, 8);
  --color-border-menu: #793706;
  --color-hover-menu: rgb(196, 87, 47);
  --color-h2: #222; }

@keyframes animatedPriceBackground {
  0% {
    background-position-x: 0%; }
  40% {
    background-position-x: 0%; }
  50% {
    background-position-x: 100%; }
  90% {
    background-position-x: 100%; }
  100% {
    background-position-x: 0%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: black;
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  background-size: cover;
  background-repeat: no-repeat; }

@keyframes someAnimation {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body::before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  z-index: 100; }

.container {
  max-width: 1000px;
  margin: 1rem auto;
  border-radius: .5rem;
  box-shadow: 0 0 0 0.2rem var(--color-container-1), 0 0 0 0.4rem var(--color-container-2), 0 0 0 0.6rem var(--color-container-3), 0 0 0 0.8rem var(--color-container-4), 0 0 1rem #000;
  overflow: hidden; }

.header {
  margin-top: .1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: normal; }
  .header__logo {
    flex: 0 0 10%;
    height: 100%; }
    .header__logo path {
      stroke: var(--color-primary);
      stroke-width: 25;
      fill: transparent; }
  .header__text-box {
    display: inline-block;
    flex: 0 0 40%;
    text-align: center; }
  .header__phone-box {
    display: inline-block;
    flex: 0 0 50%;
    color: var(--color-primary);
    font-size: 2.9rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  .header .heading-primary {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    font-style: italic;
    color: var(--color-primary);
    text-shadow: 2px 2px 2px black;
    height: 100%;
    display: block; }

.separator {
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(to bottom, var(--color-brown-red) 0%, var(--color-background-primary) 30%, var(--color-brown-red) 100%); }

.side {
  display: inline-block; }

.nav {
  width: 199px;
  padding: .5rem 0;
  margin-top: 3rem;
  margin-left: -.2rem;
  border: 0.3rem solid var(--color-border-menu);
  border-left: none;
  border-radius: 0 2rem 2rem 0;
  box-shadow: 2px 0 1px 0 var(--color-border-menu), 2px 2px 1px 0 var(--color-border-menu), 2px -2px 1px 0 var(--color-border-menu), inset -3px 0px 5px 0 #000, inset -3px -3px 5px 0 #000, inset -3px 3px 5px 0 #000;
  background-color: #ece5c9;
  overflow: hidden; }
  .nav__list {
    list-style: none; }
  .nav__item {
    position: relative;
    margin: .2rem 0; }
    .nav__item:first-of-type, .nav__item:first-of-type::before,
    .nav__item:first-of-type a {
      border-top-right-radius: 1rem; }
    .nav__item:last-of-type, .nav__item:last-of-type::before,
    .nav__item:last-of-type a {
      border-bottom-right-radius: 1rem; }
  .nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .5rem;
    background-color: var(--color-hover-menu);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, box-shadow 0.1s 0.5s; }
  .nav__item:hover::before {
    transform: scaleY(1);
    width: 100%;
    box-shadow: inset -8px 0 3px -3px black; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.6rem;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem;
    position: relative;
    z-index: 10; }
  .nav input {
    position: absolute;
    left: -999rem;
    visibility: hidden; }
  .nav input:checked {
    visibility: hidden; }
  .nav input:checked + .nav__item {
    margin-left: .1rem;
    background-color: var(--color-hover-menu);
    box-shadow: inset -8px 0 3px -3px black; }

.animated-stairs {
  width: 16.1rem;
  height: 22rem;
  margin: 3rem 0 0 2rem; }

.contacts__number a:link,
.contacts__number a:visited,
.contacts__icon a:link,
.contacts__icon a:visited {
  text-decoration: none;
  color: black;
  cursor: default; }

.contacts__icon--phone {
  width: 10rem;
  height: 10rem; }

.contacts__icon--viber svg {
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  fill: #665CAC;
  background-color: var(--color-background-primary); }

.contacts__icon--telegram svg {
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  fill: #0088cc;
  background-color: var(--color-background-primary); }

.contacts__icon--email svg {
  width: 6rem;
  height: 6rem;
  border-radius: 5rem;
  fill: #0088cc;
  background-color: var(--color-background-primary); }

.map {
  margin: 0 auto;
  width: 100%;
  height: 50rem;
  border: none; }

.footer p {
  padding: 0;
  margin: 0; }

address {
  font-style: normal;
  text-indent: 2rem; }

.content {
  display: flex;
  background-image: url(../images/wood.jpg);
  overflow: hidden;
  max-height: 90rem; }

.main {
  overflow: hidden; }

.main > section {
  min-height: 95rem;
  position: relative; }

.carousel__photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(to top right, var(--color-background-primary) 0%, var(--color-primary-dark) 100%);
  background-size: 10px 10px; }
  .carousel__photos div {
    width: 220px;
    height: 173px;
    background-image: url(../images/gallery.jpg); }
  .carousel__photos--2 {
    background-position-x: 220px; }
  .carousel__photos--3 {
    background-position-x: 440px; }
  .carousel__photos--4 {
    background-position-x: 660px; }

h2 {
  font-size: 2.5rem;
  color: var(--color-h2);
  font-style: italic;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-align: center;
  padding: 1rem 0;
  text-shadow: #000 1px 1px 1px;
  line-height: normal; }

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  margin: 1.5rem 0; }

p {
  font-size: 1.6rem;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-indent: 2rem;
  text-align: justify;
  margin-bottom: 1rem;
  line-height: 2.4rem; }

.main {
  display: inline-block; }

.about,
.stages,
.delivery {
  display: flex; }
  .about__text,
  .stages__text,
  .delivery__text {
    flex: 1;
    width: 93%;
    padding: 0 2rem; }
  .about__photos,
  .stages__photos,
  .delivery__photos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-right: -.2rem;
    width: 26rem;
    height: 58rem;
    background-color: var(--color-background-primary);
    border: 3px solid var(--color-border-menu);
    border-radius: 2rem 0 0 2rem;
    border-right: none;
    box-shadow: -2px 0px 1px 0 var(--color-border-menu), -2px -2px 1px 0 var(--color-border-menu), -2px 2px 1px 0 var(--color-border-menu), inset 3px 0 5px 0 black, inset 3px 3px 5px 0 black, inset 3px -3px 5px 0 black; }
    .about__photos img,
    .stages__photos img,
    .delivery__photos img {
      display: block;
      width: 22rem;
      height: 16.5rem;
      box-shadow: 1px 1px 3px black;
      border-radius: .5rem;
      background-image: url(../images/gallery-right.jpg); }
    .about__photos-2,
    .stages__photos-2,
    .delivery__photos-2 {
      background-position-y: -165px; }
    .about__photos-3,
    .stages__photos-3,
    .delivery__photos-3 {
      background-position-y: -330px; }

.gallery,
.balusters {
  box-sizing: content-box; }
  .gallery__pages,
  .balusters__pages {
    text-align: center;
    overflow: hidden;
    width: 71.9rem;
    margin: 0 auto; }
  .gallery__container,
  .balusters__container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; }
    .gallery__container::-webkit-scrollbar,
    .balusters__container::-webkit-scrollbar {
      width: 1.5rem;
      height: 1.5rem; }
    .gallery__container::-webkit-scrollbar-thumb,
    .balusters__container::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.7);
      border-radius: 1rem; }
    .gallery__container::-webkit-scrollbar-track,
    .balusters__container::-webkit-scrollbar-track {
      background: transparent; }
  .gallery__photo-page,
  .balusters__photo-page {
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 35rem 35rem;
    grid-template-rows: min-content min-content;
    grid-gap: 2rem 2rem;
    padding-right: 1.9rem;
    padding-top: 2rem;
    position: relative; }
    .gallery__photo-page:last-child,
    .balusters__photo-page:last-child {
      padding-right: 0; }
    .gallery__photo-page figure,
    .balusters__photo-page figure {
      width: 100%;
      height: 100%; }
    .gallery__photo-page figure:hover img,
    .balusters__photo-page figure:hover img {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 10%;
      margin-left: 10%;
      width: 80%;
      height: 80%;
      border-radius: 1rem;
      box-shadow: 0 0 1rem black; }
  .gallery__photo,
  .balusters__photo {
    width: 100%;
    line-height: 0;
    transition: all .5s; }
  .gallery__navigation-list, .gallery__navigation-item,
  .balusters__navigation-list,
  .balusters__navigation-item {
    display: inline-block; }
  .gallery__navigation-button,
  .balusters__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s; }
  .gallery p,
  .balusters p {
    width: 93%;
    margin: 0 auto; }

.price {
  width: 93%;
  margin: 0 auto; }
  .price__content {
    border: 2px solid grey;
    display: flex;
    margin: 0 auto .8rem;
    border-radius: 3rem;
    box-shadow: 0 0 3px black;
    overflow: hidden; }
  .price__picture {
    width: 28%;
    background-image: url(../images/price.jpg);
    background-size: 200% 300%;
    padding-top: 28%;
    animation: animatedPriceBackground 10s linear infinite;
    position: relative; }
  .price__description {
    width: 72%;
    background-color: rgba(128, 128, 128, 0.5); }
    .price__description p {
      margin-bottom: 0; }
  .price__l .price__picture {
    background-position-y: 50%; }
  .price__u .price__picture {
    background-position-y: 100%; }
  .price__value {
    color: green;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #3dcd58, 0 0 1em white, 0 0 0.2em white; }
  .price__3d {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6rem;
    border: none; }
    .price__3d svg {
      width: 100%;
      height: 100%; }

.balusters__container {
  overflow: hidden; }

.contacts {
  width: 93%;
  margin: 0 auto; }
  .contacts__phone-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem; }
    .contacts__phone-social > div {
      flex-basis: 45%;
      display: flex; }
  .contacts__phone, .contacts__viber, .contacts__telegram {
    display: flex;
    align-items: center; }
  .contacts__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem; }
  .contacts__number {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bold; }
  .contacts p {
    text-align: center; }
