*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(upto768) {
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }
}

body {
    font-family: Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: black;
    box-sizing: border-box;
    //background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-color: var(--color-background-primary);
    background-size: cover;
    background-repeat: no-repeat;
    
}



@keyframes someAnimation {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.margin-top-50 {
    margin-top: 5rem;
}