.container {
    max-width: 100rem;
    margin: 1rem auto;
    border-radius: .5rem;
    box-shadow: 0 0 0 .2rem var(--color-container-1),
                0 0 0 .4rem var(--color-container-2),
                0 0 0 .6rem var(--color-container-3),
                0 0 0 .8rem var(--color-container-4),
                0 0 1rem #000;
    overflow: hidden;

    @include respond(page-border) {
        box-shadow: none;
        margin: 0 auto;
    }
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    line-height: normal;
    justify-content: space-between;
    position: relative;
    z-index: var(--zindex-header);
    background-color: var(--color-background-primary);

    &__logo {
        min-width: 10rem;
        perspective: 22rem;
        position: relative;

        svg {
            width: 10rem;
            height: auto;
        }
    }

    &__text-box {
        display: inline-block;
        text-align: center;
    }

    &__phone-box {
        min-width: 20rem;
        color: var(--color-primary);
        font-size: 2.9rem;
        text-align: center;

        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .phone-full {
            padding: 0 1rem;
            white-space: nowrap;

            @include respond(upto504) {
                display: none;
            }
        }

        .phone-min {
            display: none;
            width: 6rem;
            border: .4rem solid var(--color-primary);
            border-radius: 50%;
            padding: 1.1rem;
            line-height: 0;
            animation: animateHeaderPhone 5s linear infinite;

            svg path {
                fill: var(--color-primary);
            }

            @include respond(upto504) {
                display: inline-block;
            }
        }

        @include respond(upto660) {
            flex-basis: 35%;
        }

        @include respond(upto504) {
            flex-basis: auto;
            min-width: 8rem;
        }
    }

    svg {
        display: inline-block;
    }

    svg path {
        stroke: var(--color-primary);
        stroke-width: 25;
        fill: transparent;
    }
}

.logo__side {
    transition: all .8s;
    top: 0;
    left: 0;
    line-height: 0;
    backface-visibility: hidden;

    &--front {
        animation: animateLogo 5s linear infinite;
        
        @include respond(plus768) {
            animation: none;
        }
    }

    &--back {
        transform: rotateY(180deg);
        position: absolute;
        height: 100%;
        top: 2.5rem;
        left: 2.5rem;
        animation: animateMenu 5s linear infinite;

        @include respond(plus768) {
            animation: none;
        }

        &,
        &::before,
        &::after {
            width: 5rem;
            height: 2px;
            background-color: var(--color-primary);
            display: inline-block;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
        }

        &::before { top: -1rem; }
        &::after { top: 1rem; }

        &::after {
            line-height: 3rem;
            content: 'МЕНЮ';
        }
    }
}

.heading-primary {
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    font-style: italic;
    color: var(--color-primary);
    text-shadow: 2px 2px 2px black;
    height: 100%;
    display: block;
}

@include respond(below768) {
    .header__logo:hover .logo__side--front {
        animation: none;
        transform: rotateY(180deg);
    }
    .header__logo:hover .logo__side--back {
        animation: none;
        transform: rotateY(360deg);
    }
}

.webp .carousel__photos {
    div {
        background-image: url(images/gallery.webp) !important;
    }

    @include respond(upto504) {
        background-image: url(images/gallery-phone.webp) !important;
    }
}

.carousel {
    position: relative;

    &__photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-image: linear-gradient(
            to top right,
            var(--color-background-primary) 0%,
            var(--color-primary-dark) 100%
        );
        background-size: 10px 10px;

        div {
            width: 220px;
            height: 173px;
            background-image: url(images/gallery.jpg);
        }

        &--2 {
            background-position-x: 220px;
        }
        &--3 {
            background-position-x: 440px;

            @include respond(upto660) {
                display: none;
            }
        }
        &--4 {
            background-position-x: 660px;

            @include respond(page-border) {
                display: none;
            }
        }
        
        @include respond(upto504) {
            width: 100%;
            padding-top: 75%;
            background-image: url(images/gallery-phone.jpg);
            background-size: 400% 100%;
            animation: animateHeaderBackground 15s linear infinite;

            div {
                display: none;
            }
        }
    }
}

.separator {
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(to bottom,
        var(--color-brown-red) 0%,
        var(--color-background-primary) 30%,
        var(--color-brown-red) 100%
    );
}

.separator:first-child {
    position: relative;
    z-index: var(--zindex-separator);
}

.animated-stairs {
    display: inline-block;
    width: 95%;
    margin: 5rem 0 0 .5rem;
}

.header a:link,
.header a:visited,
.contacts__number a:link,
.contacts__number a:visited,
.contacts__icon a:link,
.contacts__icon a:visited {
    display: block;
    text-decoration: none;
    color: currentColor;
    white-space: nowrap;
}

.contacts__icon--phone svg {
    width: 10rem;
    height: 10rem;
}

.contacts__icon--viber svg {
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    fill: #665CAC;
    background-color: var(--color-background-primary);
}

.contacts__icon--telegram svg {
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    fill: #0088cc;
    background-color: var(--color-background-primary);
}

.contacts__icon--email svg {
    width: 6rem;
    height: 6rem;
    border-radius: 5rem;
    fill: #0088cc;
    background-color: var(--color-background-primary);
}

.map {
    margin: 0 auto;
    width: 100%;
    height: 50rem;
    border: none;
}

.footer {
    p {
        line-height: normal;
        padding: 0;
        margin: 0;
        text-indent: 0;
    }
}

address {
    font-style: normal;
    text-indent: 0;
}

.price__description .landing {
    font-size: 1.4rem;
}

@include respond(page-border) {
    .gallery__photo-page-1::after {
        content: '';
        position: absolute;
        top: calc(50% - var(--size-photo-gap));
        right: 4.5rem;
        padding: 2rem;
        border: solid #444;
        border-width: 2rem 2rem 0 0;
        transform: rotate(45deg);
        opacity: .7;
        animation: animateGalleryArrow 2.5s linear infinite;
    }
}

@include respond(upto504) {
    .gallery__photo-page-1::after {
        top: calc(50% - var(--size-photo-gap));
    }
}

.lang-mobile,
.lang-big {
    margin: 1rem 0 0 0;
    text-align: center;

    span,
    a,
    a:link,
    a:visited {
        display: inline-block;
        margin-right: .5rem;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 .2rem black;
        transition: opacity .2s;
    }

    a {
        opacity: .65;
    }

    a:hover {
        opacity: 1;
    }

    svg {
        height: 100%;
        width: 100%;
    }
}

.lang-mobile {
    display: none;
    margin: .3rem;
    position: absolute;
    top: 2rem;
    right: 1rem;

    @include respond(below768) {
        display: initial;
    }
}