.webp {
    .about,
    .stages,
    .delivery {
        &__photos img {
            background-image: url(images/gallery-right.webp) !important;
        }
    }

    .price__picture {
        background-image: url(images/price.webp) !important;
    }
}

.about,
.stages,
.delivery {
    display: flex;

    &__text {
        flex: 1;
        width: 93%;
        padding: 0 2rem;
    }

    &__photos {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3rem;
        margin-right: -.2rem;
        width:26rem;
        height:58rem;
        background-color: var(--color-background-primary);
        border: 3px solid var(--color-border-menu);
        border-radius:2rem 0 0 2rem;
        border-right:none;
        box-shadow: -2px 0px 1px 0 var(--color-border-menu),
                    -2px -2px 1px 0 var(--color-border-menu),
                    -2px 2px 1px 0 var(--color-border-menu),
                    inset 3px 0 5px 0 black,
                    inset 3px 3px 5px 0 black,
                    inset 3px -3px 5px 0 black;

        @include respond(upto660) {
            display: none;
        }

        img {
            display: block;
            width: 22rem;
            height: 16.5rem;
            box-shadow: 1px 1px 3px black;
            border-radius: .5rem;
            background-image: url(images/gallery-right.jpg);
        }

        &-2 {
            background-position-y: -165px;
        }

        &-3 {
            background-position-y: -330px;
        }
    }
}


.gallery,
.balusters {
    box-sizing: content-box;

    &__pages {
        text-align: center;
        overflow: hidden;
        width: var(--size-photo-container-width);
        margin: 0 auto;

        @include respond(gallery) {
            width: 68rem;
        }
        @include respond(below768) {
            width: 100vw;
        }
        
    }

    &__container {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        min-height: var(--size-photo-container-min-height);

        @include respond(gallery) {
            min-height: var(--size-photo-container-min-height-for-gallery);
        }
        @include respond(below768) {
            min-height: var(--size-photo-container-min-height-for-below768);
        }
        @include respond(upto504) {
            min-height: calc(100vw * 3 + var(--size-photo-gap) * 5);
        }

        &::-webkit-scrollbar{
            width: 1.5rem;
            height: 1.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba($color: #000000, $alpha: .7);
            border-radius: 1rem;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }

    &__photo-page {
        scroll-snap-align: start;
        display: grid;
        grid-template-columns: repeat(2, var(--size-photo-item-width));
        grid-template-rows: repeat(2, var(--size-photo-item-height));
        grid-gap: var(--size-photo-gap) var(--size-photo-gap);
        padding-right: var(--size-photo-item-padding);
        padding-top: 2rem;
        position: relative;

        @include respond(gallery) {
            grid-template-columns: repeat(2,  var(--size-photo-item-width-for-gallery));
            grid-template-rows: repeat(2, var(--size-photo-item-height-for-gallery));
        }
        @include respond(below768) {
            grid-template-columns: repeat(2,  var(--size-photo-item-width-for-below768));
            grid-template-rows: repeat(2, var(--size-photo-item-height-for-below768));
        }
        @include respond(upto504) {
            grid-template-columns: 100%;
            grid-template-rows: repeat(4, calc(100vw * 3 / 4));
        }
        

        &:last-child {
            padding-right: 0;
        }

        figure {
            width: 100%;
            height: 100%;

            @include respond(upto504) {
                width: 100vw;
            }
        }

        figure:hover img {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 10%;
            margin-left: 10%;
            width: 80%;
            height: 80%;
            border-radius: 1rem;
            box-shadow: 0 0 1rem black;

            @include respond(upto504) {
                position: initial;
                top: auto;
                left: auto;
                margin-top: auto;
                margin-left: auto;
                width: 100vw;
                height: initial;
                border-radius: initial;
                box-shadow: none;
            }
        }
    }

    &__photo {
        width: 100%;
        line-height: 0;
        transition: all .5s;
    }

    &__navigation {
        @include respond(page-border) {
            display: none;
        }
    }

    &__navigation-list,
    &__navigation-item {
        display: inline-block;
    }

    &__navigation-button {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: #333;
        background-clip: content-box;
        border: 0.25rem solid transparent;
        border-radius: 50%;
        font-size: 0;
        transition: transform 0.1s;
    }

    p {
        width: 93%;
        margin: 0 auto;
    }
}

.price {
    width: 93%;
    margin: 0 auto;

    &__cards {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        width: 30%;
        min-width: 21rem;
        display: flex;
        flex-direction: column;
        margin: 0 auto .8rem;
        background-color: var(--color-cards-bg);
        border-radius: .3rem;
        box-shadow: 0 .2rem 1rem black;
        overflow: hidden;


        @include respond(upto504) {
            margin-bottom: 2rem;
        }

        @include respond(phone360) {
            width: 70%;
        }
    }

    &__picture {
        width: 100%;
        background-image: url(images/price.jpg);
        background-size: 200% 300%;
        padding-top: 100%;
        animation: animatePriceBackground 10s linear infinite;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    }

    &__description {
        width: 100%;
        position: relative;

        ul {
            list-style: none;
            width: 94%;
            margin: 1rem auto 0;

            @include respond(phone360) {
                width: 75%;
            }

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid grey;
                }
            }
        }
    }

    &__l &__picture {
        background-position-y: 50%;
    }

    &__u &__picture {
        background-position-y: 100%;
    }

    &__value {
        color: green;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
        font-weight: bold;
        font-size: 2.5rem;
        text-shadow: 1px 1px 2px #3dcd58, 0 0 1em white, 0 0 0.2em white;
        //background-color: rgba($color: white, $alpha: .2);
    }

    &__3d {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 6rem;
        border: none;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    h3 {
        position: absolute;
        width: 55%;
        min-width: 13.5rem;
        top: -5rem;
        right: 0;
        font-size: 1.7rem;
        background-image: linear-gradient(to right bottom, var(--color-cards-1-light), var(--color-cards-1-dark));
        text-transform: uppercase;
        line-height: 2rem;
        color: #eee;
        padding: .5rem;

        @include respond(phone360) {
            width: 45%;
        }
    }
}

.balusters__container {
    overflow: hidden;
}

.contacts {
    width: 93%;
    margin: 0 auto;
    
    &__phone-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;

        & > div {
            min-width: 45%;
            display: flex;

            @include respond(upto504) {
                min-width: 25rem;
            }
        }

        @include respond(phone360) {
            justify-content: start;
        }
    }

    &__phone,
    &__viber,
    &__telegram {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
    }

    &__number {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        text-align: center;
    }
}